<!DOCTYPE html>
<html lang="en">

<head>
    <title>owo</title>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}

            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>